@page "/data/view"
@layout UserContextLayout
@inherits BlazorNinjaComponent
@attribute [UserContextRequired]

<div class="blazor-ninja-page">
	<DataView NamespaceLabel="Project"
	          ItemId=@_itemId
	          FieldGroups="@GetFieldGroups()">
	</DataView>
</div>

@code
{
	private string _itemId = "c714240d-762b-43cc-82af-201fc45246ff";
	//private string _itemId = default;

	private GenericIdDataObject GetItem()
	{
		var item = new GenericIdDataObject();
		item.Set("Text", "Project 2");
		item.Set("Email", "project2@oriosnwave.com");
		item.Set("Date", new DateTime(2023, 11, 11));

		return item;
	}

	private List<FieldGroup> GetFieldGroups()
	{
		var groups = new List<FieldGroup>();

		var group = new FieldGroup
		{
			Label = "Group1",
			FieldLabels = new List<string> { "Email", "Password", "Phone" }
		};

		groups.Add(group);

		group = new FieldGroup
		{
			Label = "Group2",
			FieldLabels = new List<string> { "Label", "Url", "Paragraph" }
		};
		groups.Add(group);

		group = new FieldGroup
		{
			Label = "Group3",
			FieldLabels = new List<string> { "Boolean", "Integer", "Double" }
		};
		groups.Add(group);

		group = new FieldGroup
		{
			Label = "Group4",
			FieldLabels = new List<string> { "Date", "Time", "DateTime" }
		};
		groups.Add(group);

		group = new FieldGroup
		{
			Label = "Group5",
			FieldLabels = new List<string> { "Option" }
		};
		groups.Add(group);

		return groups;
	}
}