@page "/changepassword"
@layout AppLayout
@inherits BlazorNinjaComponent

<div class="blazor-ninja-page">
	<ChangePasswordForm Done="@OnDone"></ChangePasswordForm>
</div>

@code {

	private void OnDone(bool wasUserInputNeeded)
	{
		var uri = "/";

		var values = new Dictionary<string, object>
	{
			{ "header", "Loading" },
			{ "text", "You have changed your password! We're now loading the home view for you." },
			{ "wasUserInputNeeded", wasUserInputNeeded }
		};

		uri = NavigationManager.AddQueryStringParams(uri, values);

		NavigationManager.NavigateTo(uri);
	}

}
