@page "/dashboard"
@inherits BlazorNinjaComponent
@layout UserContextLayout
@attribute [UserContextRequired]

<div class="blazor-ninja-page">
    <div class="dashboard">
        <a href="/geo">Address form</a>
        <a href="/email">Email form</a>
        <a href="/phone">Phone form</a>
        <a href="/images">Image form</a>
        <a href="/link">Link form</a>
        <a href="/tagging">Tag form</a>
        <a href="/nav">Navigation</a>
        <a href="/dataform">Data Form</a>
        <a href="/dataform2">Data Form 2</a>
        <a href="/dataview">Data View</a>
        <a href="/datagrid">Data Grid</a>
        <a href="/todotasks">To-Do</a>
        <a href="/user/custom">User</a>
        <a href="/content">Content</a>
        <a href="/dialog">Dialog</a>
    </div>
</div>
