@page "/dashboard"
@inherits BlazorNinjaComponent
@layout UserContextLayout
@attribute [UserContextRequired]

<div class="blazor-ninja-dashboard-page-container">
	<a href="/google-maps" target="_blanks">Map component</a>
	<a href="/geo" target="_blanks">Address form</a>
	<a href="/email" target="_blanks">Email form</a>
	<a href="/phone" target="_blanks">Phone form</a>
	<a href="/images" target="_blanks">Image form</a>
	<a href="/link" target="_blanks">Link form</a>
	<a href="/tagging" target="_blanks">Tag form</a>
	<a href="/nav" target="_blanks">Navigation</a>
	<a href="/data" target="_blanks">Data</a>
	<a href="/todotasks" target="_blanks">To-Do</a>
</div>
