@page "/dashboard"
@inherits BlazorNinjaComponent
@layout UserContextLayout
@attribute [UserContextRequired]

<div class="blazor-ninja-page">
	<div class="blazor-ninja-form-container dashboard">
        <a href="/geo">Address form</a>
		<a href="/email">Email form</a>
		<a href="/phone">Phone form</a>
		<a href="/images">Image form</a>
		<a href="/link">Link form</a>
		<a href="/tagging">Tag form</a>
		<a href="/nav" >Navigation</a>
        <a href="/dataform" target="_blanks">Data Form</a>
        <a href="/dataview" target="_blanks">Data View</a>
        <a href="/datagrid" target="_blanks">Data Grid</a>
		<a href="/todotasks">To-Do</a>
		 <a href="/user/custom">User</a>
	</div>
</div>
