@page "/forgot"
@layout AppLayout
@using Microsoft.AspNetCore.WebUtilities
@inherits BlazorNinjaComponent

<div class="blazor-ninja-page">
    <h3>Need help with your password?</h3>
    <ForgotPasswordForm
        PrimaryFieldValue="@_primaryFieldValue"
        Done=@OnDone></ForgotPasswordForm>
</div>

@code{

    private string _primaryFieldValue;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
        QueryHelpers.ParseQuery(uri.Query).TryGetValue("value", out var temp);

        _primaryFieldValue = temp;
    }

    private void OnDone(bool wasUserInputNeeded)
    {
        var uri = "/";

        var values = new Dictionary<string, object>
        {
            { "header", "Loading" },
            { "text", "You have changed your password! We're now loading the home view for you." },
            { "wasUserInputNeeded", wasUserInputNeeded }
        };

        uri = NavigationManager.AddQueryStringParams(uri, values);

        NavigationManager.NavigateTo(uri);
    }
}