@page "/login"
@layout AppLayout
@inherits BlazorNinjaComponent

<div class="blazor-ninja-page">
	<h2>Log in</h2>
	<LogInForm ForgotPasswordUri="/forgot" SignUpUri="/signup" Done=@OnDone></LogInForm>
</div>

@code{

    [Parameter]
    [SupplyParameterFromQuery(Name = "redirectTo")]
    public string RedirectTo { get; set; }

	private void OnDone(bool wasUserInputNeeded)
	{
	    if (!string.IsNullOrWhiteSpace(RedirectTo))
	    {
	        NavigationManager.NavigateTo(RedirectTo);
	        return;
	    }

		var uri = "/";

		var values = new Dictionary<string, object>
		{
			{ "header", "Loading" }, 
			{ "text", "You are in! We're now loading the home view for you." }, 
			{ "wasUserInputNeeded", wasUserInputNeeded }
		};

		uri = NavigationManager.AddQueryStringParams(uri, values);

		NavigationManager.NavigateTo(uri);
	}
}
