@page "/nav"
@inherits BlazorNinjaComponent
@layout UserContextLayout
@attribute [UserContextRequired]

<div class="blazor-ninja-page">
	<Navigation Title="BlazorNinja"
				IconCssClass="fa fa-code fa-sm"
				Items=@GetNavigationItems()>
	</Navigation>

</div>

@code
{
	private List<NavigationItemVm> GetNavigationItems()
	{
		var items = new List<NavigationItemVm>();

		var item = new NavigationItemVm
		{
			IconCssClass = "fa fa-dashboard fa-sm",
			Label = "Dashboard",
			TargetUrl = "/dashboard",
		};
		items.Add(item);

		// Projects
		item = new NavigationItemVm
		{
			IconCssClass = "fa fa-object-group fa-sm",
			Label = "Projects"
		};
		items.Add(item);

		item = new NavigationItemVm
		{
			IconCssClass = "fa fa-tasks fa-sm",
			ParentLabel = "Projects",
			Label = "Manage",
			TargetUrl = "/projects",
			//IsSelected = true
		};
		items.Add(item);

		item = new NavigationItemVm
		{
			IconCssClass = "fa fa-user-plus fa-sm",
			ParentLabel = "Projects",
			Label = "Invite",
			TargetUrl = "/invite"
		};
		items.Add(item);

		item = new NavigationItemVm
		{
			IconCssClass = "fa fa-bar-chart fa-sm",
			ParentLabel = "Projects",
			Label = "Reports",
			TargetUrl = "/reports"
		};
		items.Add(item);

		return items;
	}
}
