@page "/notification"
@inherits BlazorNinjaComponent
@layout UserContextLayout
@attribute [UserContextRequired]

<div class="blazor-ninja-page-container">
	<MessageList Limit=10></MessageList>
</div>
