@page "/postboarding"
@inherits DotNinjaComponent
@layout UserContextLayout
@attribute [UserContextRequired]

<div class="dotninja-page-container">
	<PostboardingForm Done=@OnDone></PostboardingForm>
</div>

@code{

	private void OnDone(bool wasUserInputNeeded)
	{
		var uri = "/";

		var values = new Dictionary<string, object>
	{
			{ "header", "Loading" },
			{ "text", "Thanks for completing your profile! We're now loading the home view for you." },
			{ "wasUserInputNeeded", wasUserInputNeeded }
		};

		uri = NavigationManager.AddQueryStringParams(uri, values);

		NavigationManager.NavigateTo(uri);
	}
}

