@page "/tagging"
@layout UserContextLayout
@inherits BlazorNinjaComponent

<div class="blazor-ninja-page">
	<TagInstanceForm GroupTag=@GroupTag Tags=@Tags TagInstances=@TagInstances PageSize=5 MaxCount=2>
	</TagInstanceForm>
</div>

@code {
	private readonly Tag GroupTag = new Tag
	{
		Id = Guid.NewGuid().ToString(),
		Label = "Location"
	};

	private readonly List<Tag> Tags = new List<Tag>
	{
		new Tag { Id = Guid.NewGuid().ToString(), Label = "City" },
		new Tag { Id = Guid.NewGuid().ToString(), Label = "Beachfront" },
		new Tag { Id = Guid.NewGuid().ToString(), Label = "Gated Community" },
		new Tag { Id = Guid.NewGuid().ToString(), Label = "Golf Course" },
		new Tag { Id = Guid.NewGuid().ToString(), Label = "Hillside" },
		new Tag { Id = Guid.NewGuid().ToString(), Label = "Oceanfront" },
		new Tag { Id = Guid.NewGuid().ToString(), Label = "Ranch" },
		new Tag { Id = Guid.NewGuid().ToString(), Label = "Riverfront" }
	};

	private readonly List<TagInstance> TagInstances = new List<TagInstance>
	{

	};
}
