@page "/todotasks"
@inherits BlazorNinjaComponent
@layout UserContextLayout
@attribute [UserContextRequired]

<div class="blazor-ninja-page kickstart-todo-task-list-page-container">
	<div class="header">
		<a href="/todotask" class="btn btn-primary">Add New</a>
	</div>

	<ToDoTaskList Limit="10"></ToDoTaskList>
</div>