@page "/todotask"
@inherits BlazorNinjaComponent
@layout UserContextLayout
@attribute [UserContextRequired]

<div class="blazor-ninja-page">
	<ToDoTaskForm ItemId=@_itemId
	              Done=@OnDoneAsync></ToDoTaskForm>
</div>