@page "/data/edit"
@layout UserContextLayout
@inherits BlazorNinjaComponent

<div class="blazor-ninja-page">
	@if (!string.IsNullOrEmpty(_itemId))
	{
		<DataForm NamespaceLabel="Project"
				  ItemId=@_itemId
				  FieldLabels=@(new List<string> {
					              "Label", 
					              "Email", 
					              "Password", 
					              "Phone", 
					              "Url", 
					              "Paragraph", 
					              "Integer", 
					              "Double", 
					              "Boolean",
					              "Date",
					              "Time",
					              "DateTime",
					              "Option",
					              "PhotoUrl"})>
		</DataForm>
	}
</div>

@code
{
	private string _itemId;

	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();

		var token = await GetContextTokenAsync();

		var projectProxy = ProxyFactory.GetDataProxyForNamespace<GenericIdDataObject>(token, "Project");

		var projectPage = await projectProxy.GetPageAsync(Filter<GenericIdDataObject>.Empty, 0, int.MaxValue, SortOrder<GenericIdDataObject>.Empty);

		if (projectPage.Items.Any()) _itemId = projectPage.Items.First().Id;
	}
}
