@page "/login"
@layout AppLayout
@inherits DotNinjaComponent

<div class="dotninja-page-container">
	<h2>Log in</h2>
	<LogInForm ForgotPasswordUri="/forgot" SignUpUri="/signup" Done=@OnDone></LogInForm>
</div>

@code{

	private void OnDone(bool wasUserInputNeeded)
	{
		var uri = "/";

		var values = new Dictionary<string, object>
		{
			{ "header", "Loading" }, 
			{ "text", "You are in! We're now loading the home view for you." }, 
			{ "wasUserInputNeeded", wasUserInputNeeded }
		};

		uri = NavigationManager.AddQueryStringParams(uri, values);

		NavigationManager.NavigateTo(uri);
	}
}
