@page "/menu"
@inherits DotNinjaComponent
@layout UserContextLayout

<div class="dotninja-menu-page-container">
	<a href="/profile">
		<i class="fa fa-user"></i>
		Profile
	</a>
	<a href="/invite">
		<i class="fa fa-share-alt"></i>
		Invite friends
	</a>
	<a href="/theme">
		<i class="fa fa-adjust"></i>
		Theme
	</a>
	<a href="/issue">
		<i class="fa fa-bug"></i>
		Report an issue
	</a>
	<a href="/logout">
		<i class="fa fa-meh-o"></i>
		Log out
	</a>
</div>